.sidebar {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 4rem 0;
}

.sidebar > a:first-child {
  padding: 0;
}
.sidebar > a > img {
  width: 90%;
  transition: all 0.5s;
  margin-left: 15px;
  background-color: rgb(2, 2, 46);
}

.sidebar > a > img:hover {
  filter: drop-shadow(0 0 10px tomato);
}
.sidebar a {
  text-decoration: none;
  color: rgb(71, 179, 156);
  font: 800 1.4vmax "Poppins";
  padding: 2rem;
  transition: all 0.5s;
}
.sidebar .a {
  text-decoration: none;
  color: rgb(71, 179, 156);
  font: 800 1.4vmax "Poppins";
  padding: 2rem;
  transition: all 0.5s;
}
.sidebar a:hover {
  color: tomato;
}

.sidebar a > P {
  display: flex;
  align-items: center;
}
.sidebar a > p > svg {
  margin-right: 0.5rem;
}

.MuiTypography-root {
  background-color: #fff !important;
}

@media screen and (max-width: 600px) {
  .sidebar {
    align-items: center;
    padding: 0;
    margin: 10px;
  }
}
